body {
  margin: 0;
  font-family: Verdana,Arial,sans-serif; font-size: 14px;
}

.notice, .alert {
  padding: 1em;
  margin: 1em;
}


#navigation {
  ul {
    width: 100%;
    padding: 0;
    margin: 0;
    display: inline-block;
    background-color: #EEEEEE;
    
    li {
      display: inline-block;
      list-style: none;
      padding: 0.8em;
      
      &:hover {
        background-color: #DDDDDD;
      }
      
      a {
        color: #000000;
        text-decoration: none;
      }
    }
    
    li#sign_in {
      background-color: #E0E0E0;
      float: right;
      
      &:hover {
        background-color: #CCCCCC;
      }
      
      .welcome {
        font-size: 80%;
      }
    }
  }
}

#content {
  margin: 0 1em;
}
